.zq-anchor {
  &.line {
    display: inline-block;
    width: 100%;
    border-right: 1px solid $border-color;

    .anchor-item {
      cursor: pointer;
      padding-right: 22px;
      height: 27px;
      line-height: 27px;
      font-size: 16px;
      font-weight: 600;
      color: #727475;

      &.active,
      &:hover {
        color: $theme-color;

        &::after {
          top: 4px;
          right: 0;
        }
      }
    }
  }

  &.card {
    display: inline-block;
    width: auto;
    padding: 0;
    border: 1px solid $border-color;

    .anchor-item {
      cursor: pointer;
      padding: 30px 118px 30px 33px;
      height: auto;
      line-height: 27px;
      font-size: 16px;
      font-weight: 600;
      color: $font-light-color;
      margin-bottom: 0;
      border-bottom: 1px solid #eee;

      &.active,
      &:hover {
        &::after {
          top: 32px;
          left: 0;
        }
      }
    }
  }
}

.anchor-box {
  padding: 10px 0;
  border-right: 1px solid #eee;

  .ant-affix {
    top: 68px;
  }

  .ant-anchor-ink {
    display: none;
  }

  .anchor-item {
    display: block;
    text-align: right;
    color: $font-color;
    font-weight: 700;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    padding-right: 16px;
    position: relative;

    &:hover,
    &.active {
      color: $theme-color;

      &::after {
        position: absolute;
        content: '';
        width: 3px;
        height: 20px;
        background-color: $theme-color;
      }
    }
  }
}
