#btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-bottom: 24px;
  box-sizing: border-box;
  > * {
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
  }
  .right-btns{
    display: flex;
    align-items: center;
  }
  button {
    // padding: 17px 19px 7px 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    &.other-color{
      color: $theme-font-color;
    }
  }
  .title{
    font-size: 16px;
    // font-weight: 600;
  }
  .second-class{
    // padding: 17px 19px 7px 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    // border: 1px solid $theme-weak-color;
    border: 1px solid $theme-color;
    color: $theme-color;
    &:hover{
      // border: 1px solid $theme-hover-color;
      border: 1px solid $theme-color;
    }
    &:active{
      border: 1px solid $theme-color;
    }
  }
}