#filters {
  display: flex;
  flex-wrap: wrap;
  .form-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form-col {
      width: 30%;
      flex-shrink: 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &.col-100 {
          width: 100%;
      }
      &.column {
          .el-form-item__content {
              flex-direction: column;
              line-height: 32px;
          }
      }
      .el-form-item__content {
          display: flex;
      }
      :nth-of-type(3n) {
          margin-right: 0;
      }
      .el-date-editor.el-input, .el-date-editor.el-input__inner {
          width: 100%;
      }
      .el-select {
          .el-input {
              width: 100%;
          }
      }
      .form-tip {
          color: #999;
      }
      .look-btn{
          display: flex;
      }
  }
  }
  .el-form-item{
    margin-bottom: 20px;
    &:nth-last-child(2){
      margin: 0 !important;
    }
  }
  .el-form-item__label{
    color: $theme-font-color;
  }
  .isFlex{
    flex: 1;
  }
  .notFlex{
    width: 30%;
  }
  .inline-item-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 32px;
    margin-top: 6px;
    box-sizing: border-box;
    button {
      height: 32px;
      color: $theme-font-color;
      font-size: 14px;
      display: flex;
      justify-content: center;
      border-radius: 2px;
      align-items: center;
      &.btn-class {
        border: none;
        background: $theme-color;
        color: #fff;
        box-sizing: border-box;
        &:hover{
          background: $theme-color;
        }
      }
      &:hover{
        background: #fff;
      }
    }
  }
  .inline-input {
    display: inline-block;
    // width: 242px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    height: 32px;
    .el-input.el-input--suffix {
      width: auto;
      input {
          // width: 136px;
          width: 100%;
      }
      .el-input__inner{
        border: 1px solid #D9D9D9;
      }
    }
  }
  .area-region-form {
      /deep/.el-input{
          width: 100% !important;
      }
  }
  .inline-select {
    min-width: 212px;
    width: 100%;
    .el-input {
        width: 100% !important;
        .el-input__inner{
          border: 1px solid #D9D9D9;
        }
    }
    .el-select {
        width: 100%;
        margin-left: 0 !important;
    }
  }
  .inline-date {
    width: 100%;
    .el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner {
        width: 100%;
        border: 1px solid #D9D9D9;
    }
  }
  .inline-month {
    min-width: 212px;
    width: 100%;
  }
  .slot-div{
    .el-select{
        width: 100% !important;
        .el-input{
            width: 100% !important;
        }
    }
    .el-date-editor {
        width: 100% !important;
    }
  }
}