#footer-btns {
  position: fixed;
  background: #ffffff;
  padding: 7px 10px;
  bottom: 0;
  left: 200px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #F0F0F0;
  z-index: 5;
  box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.06);

  button {
    min-width: 68px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 18px 7px 17px;
    box-sizing: border-box;
    border-radius: 2px;

    &.other-color {
      color: $theme-font-color;
    }

    &:last-child {
      margin-right: 49px;
    }
  }
}
