.el-header{
  position: relative;
  z-index: 99;
  // height: 48px !important;
  height: 60px !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  font-size: 14px;
  font-weight: 400;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
  // img{
  //   margin-bottom: 3px;
  //   border-radius: 12px;
  // }
}
.header-box{
  background-color: $theme-color;
  color: #fff;
  .right-info{
    cursor: pointer;
    color: #fff;
  }
  .left-header-box{
    display: flex;
    align-items: center;
    cursor: pointer;
    .back-box{
      display: flex;
      align-items: center;
      margin-left: 38px;
      .back-img{
        width: 24px;
        height: 24px;
      }
      .name{
        color: #fff;
      }
    }
  }
}

