.head-area{
  .el-tabs{
    .el-tabs__header{
      margin: 0 auto;
      width: 50%;
      background: #fff;
    }
    .el-tabs__nav{
      display: flex;
      justify-content: space-around;
      .el-tabs__item{
        height: 60px !important;
        line-height: 60px;
      }
      .el-tabs__item:nth-child(1){
        margin-right: 20px;
      }
      .el-tabs__active-bar{
        width: 50% !important;
      }
      .el-tabs__active-bar:nth-child(1){
        margin-right: 20px;
      }
    }
    .el-form-item{
      padding-left: 0;
    }
  }
  
}