#opinion{
  background: #ffffff;
  border: 1px solid #ccc;
  .el-dialog{
    width: 550px !important;
    .el-dialog__header{
      height: 48px !important;
    }
    .el-dialog__body{
      padding: 0 !important;
    }
    .dislogContent{
      width: 100%;
      padding: 24px 48px;
      box-sizing: border-box;
      .opinion-title{
        color: #262626;
        font-size: 14px;
        margin-bottom: 8px;
      }
      .unify{
        width: 100%;
        margin-bottom: 16px;
      }
      .el-textarea{
        height: 96px !important;
        // resize:none;
        .el-textarea__inner{
        height: 96px !important;
        resize:none;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        // color: #C1C1C1;
        }
      }
      .file-box{
        margin-top: 16px;
        .file-item{
          margin-bottom: 12px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    #btns{
      border-top: 1px solid #F0F0F0;
      padding: 11px 24px 11px 0;
      .right-btns span{
        font-size: 14px !important;
      }
      button{
        padding: 8px 18px !important;
      }
    }
  }
}
// .el-picker-panel{
//   top: 398px !important;
// }