.pay-money-dialog{
  .el-dialog__body{
    padding-top: 0;
  }
  .el-dialog__header{
    background: #fff !important;
  }
}
#payMoneyPlan{
  .check-box{
    width: 100%;
    box-sizing: border-box;
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    .dialog-tit{
      color: #262626;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 18px;
    }
    .check-item{
      width: 100%;
      display: flex;
      align-items: flex-start;
      .check-left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        .icon-success{
          font-size: 15px;
          color: $theme-color;
        }
        .icon-error{
          font-size: 15px;
          color: #E70404;
        }
        .left-gray{
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #DFDFDF;
        }
        .left-index{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $theme-color;
          font-size: 10px;
          font-weight: 500;
          border: 1px solid $theme-color;
        }
        .left-line{
          width: 1px;
          height: 93px;
          background: $theme-color;
        }
        .left-gray-line{
          width: 1px;
          height: 93px;
          background: #DFDFDF;
        }
      }
      .check-right{
        margin-left: 10px;
        .right-tit{
          color: #5D7084;
          font-size: 12px;
          font-weight: 600;
        }
        .right-card{
          padding: 8px 12px;
          box-sizing: border-box;
          background: #F9F9FA;
          border-radius: 0px 10px 10px 10px;
          .right-name{
            color: #131415;
            font-size: 14px;
            margin-bottom: 4px;
            line-height: 1;
          }
          .right-name{
            color: #65778A;
            font-size: 12px;
          }
        }
      }
    }
  }
}