.el-menu:not(.el-menu--inline, .el-menu--popup) {
  height: 100vh;
}

.el-menu {
  width: 100%;
  position: relative;
  background: $theme-auxiliary-color;
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.06);
  z-index: 6;

  ul{
    box-shadow: none;
  }
  
  .picture {
    height: 72px !important;
    width: 100%;
    background: $theme-auxiliary-color;
    position: relative;
    opacity: 1 !important;

    img {
      width: 156px;
      height: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .el-menu-item{
    border-left: 2px solid white;
    &.is-active {
      border-left: 2px solid #4186E8;
    }
  }
  .el-menu-item,
  .el-submenu__title {
    height: 40px;
    line-height: 40px;
    color: $font-reverse-color;
    opacity: 0.8;
    display: flex;
    align-items: center;

    .rdIcon {
      font-size: 14px !important;
      color: #bcbec3;
      padding-right: 10px;
    }
  }

  //设置一级标题高亮时
  .el-submenu.is-active {
    .el-submenu__title {
      opacity: 1;
    }
  }

  //一级标题后面的icon
  .el-submenu__icon-arrow {
    color: #bcbec3;
  }

  // 二级菜单 
  .el-menu--inline {
    // background: #000C17;

    .el-menu-item {
      color: $bg-weak-color;
      opacity: 1;
      // padding-left: 50px !important;
      height: 40px;
    }

    .el-menu-item:hover {
      color: $font-reverse-color;
      // background-color: #fff !important;
    }
  }

  .el-menu-item.is-active {
    background: #ECF2FC !important;
    // color: $font-reverse-color;
    opacity: 1;
    .circle{
      background: #fff;
    }
  }
  .circle{
    display: inline-block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    // background: #B6C8DC;
  }

  .el-menu-item:hover,
  .el-submenu__title:hover {
    background: #ECF2FC !important;
    // background: #fff !important;
    color: rgb(71, 149, 241) !important;
  }

  .picture:hover,
  .close:hover {
    background: none;
  }

  .picture.is-active,
  .close.is-active {
    background: none;
    opacity: 0.4;
  }

  .close {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #000C17;
  }
}
