.show-more-data {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  // color: $theme-hover-color;
  // background: $bg-three-color;
  color: #999;;
  background: #F7F7F7;
  font-size: 14px;

  &.fontStyle {
    font-weight: 900;
    font-size: 14px;
  }

  &:hover {
    color: $theme-color;
  }
}
