html,
body {
  // overflow: hidden !important;
}

.main-content {
  height: calc(100% - 120px);
  overflow-y: auto;
  overflow: hidden;
}

.box-title {
  padding-bottom: 19px;
}

.box-container {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  .pagination-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // margin-top: 24px;
    padding: 0 10px;
  }
}

.list-contain {
  width: 1172px;
  padding: 16px 0 106px 0;
  box-sizing: border-box;
  margin: 0 auto;

  .list-box {
    min-height: 500px;

    // max-height: 700px;
    // overflow-y: auto;
    // overflow: hidden;
    .empty-contain {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .form-item{
      border-bottom: 1px solid #f0f0f0;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .empty-product-contain {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pagination-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // margin-top: 24px;
    padding: 0 10px;
  }
}

.list-action-font {
  font-size: 14px;
}


.list-contain-new {
  width: 100%;
  padding: 0 0 80px 0;
  box-sizing: border-box;
  // margin: 1px 0;
  
  
  .list-box {
    min-height: 500px;

    // max-height: 700px;
    // overflow-y: auto;
    // overflow: hidden;
    .empty-contain {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .form-item{
      border-bottom: 1px solid #f0f0f0;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .empty-product-contain {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pagination-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // margin-top: 24px;
    padding: 0 10px;
  }
}

.filter-contain {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
}

// tab栏盒子
.tab-content {
  position: absolute;
  bottom: 0;
}

// 提交单位提交人
.intention-title {
  color: #262626;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 0 32px 0;
  box-sizing: border-box;

  .first_list {
    margin-right: 52px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    .icon {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: rgba(13, 0, 144, 0.1);
      position: relative;
      margin-right: 8px;

      .circular {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $theme-color;
      }
    }
  }
}

// 二类按钮
.second-class {
  // padding: 17px 19px 7px 18px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid $theme-weak-color;
  color: $theme-color;

  &:hover {
    // border: 1px solid $theme-hover-color;
    border: 1px solid $theme-color;
  }

  &:active {
    border: 1px solid $theme-color;
  }
}

// 背景色按钮
button {

  // 有背景色
  &.fz-color {
    height: 34px;
    border: none;
    color: $theme-color;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #fff;
    }
  }

  &.back-class {
    height: 34px;
    border: none;
    background: $theme-color;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $theme-color;
      color: #fff;
    }
  }

  &:hover {
    background: #fff;
  }

}

// 图标颜色
.iconColor {
  color: $theme-color;
}
